<div class="repo-selector">
    <label for="repo-select">Filter by Repository:</label>
    <select
      id="repo-select"
      [(ngModel)]="selectedRepository"
      (change)="selectRepository(selectedRepository)"
    >
      <option value="">All Repositories</option>
      <option *ngFor="let repo of repositories" [value]="repo.name">
        {{ repo.name }}
      </option>
    </select>
    <button (click)="resetFilters()" class="reset-button">Reset</button>
  </div>
  
  <div *ngIf="groupedCommits.length; else noCommits">
    <div class="commit-search">
      <input
        type="text"
        placeholder="Search commits by message, author, or SHA"
        [(ngModel)]="searchTerm"
        (input)="filterCommits()"
        class="search-input"
      />
    </div>
  
    <div *ngFor="let group of filteredGroupedCommits" class="commit-group">
      <h3 class="commit-date">{{ group.date }}</h3>
      <div *ngFor="let commit of group.commits" class="commit">
        <img [src]="commit.committer.avatar_url" alt="Avatar" class="avatar" />
        <div class="commit-details">
          <p class="commit-message">{{ commit.commit.message }}</p>
          <p class="commit-author">
            {{ commit.commit.author.name }} authored {{ commit.timeAgo }}
          </p>
          <a [href]="commit.html_url" target="_blank" class="commit-link">View Commit</a>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noCommits>
    <p>No commits available.</p>
  </ng-template>
  
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
  