<div class="filter-controls">
  <select
    [(ngModel)]="selectedRepository"
    (change)="onFilterChange()"
    class="repository-select"
  >
    <option value="">All Repositories</option>
    <option *ngFor="let repo of repositories" [value]="repo.name">
      {{ repo.name }}
    </option>
  </select>

  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="onFilterChange()"
    class="search-input"
    placeholder="Search Commits"
  />

  <div class="date-filters">
    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        [(ngModel)]="startDate"
        (dateChange)="onFilterChange()"
      />
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        [(ngModel)]="endDate"
        (dateChange)="onFilterChange()"
      />
      <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <button mat-raised-button class="reset-button" (click)="resetFilters()">Reset</button>
</div>
