
<div class="dashboard-container">
  <h2 class="tds-headline-02" data-testid="dashboard-title">GitHub Dashboard Summary</h2>

  <ng-container *ngIf="userInfo; else loading">
    <tds-block mode-variant="primary" data-testid="user-info-block">
      <p class="tds-body-01">
        <strong>Bio:</strong> {{ userInfo.bio || 'No bio available' }} <br />
        <strong>Location:</strong> {{ userInfo.location || 'Not provided' }}
      </p>
    </tds-block>

    <div class="container">
      <div class="wrapper">
        <tds-block mode-variant="primary" data-testid="project-count-block">
          <p class="tds-body-01">Number of Projects</p>
          <h3 class="tds-headline-01">{{ userInfo.public_repos }}</h3>

        </tds-block>

        <tds-block mode-variant="primary" (click)="navigateToAllCommits()" data-testid="total-commits-block">
          <p class="tds-body-01">Total Commits Across All Repositories</p>
          <h3 class="tds-headline-01">{{ totalCommits }}</h3>
        </tds-block>

        <tds-block mode-variant="primary" data-testid="followers-block">
          <p class="tds-body-01">Followers</p>
          <h3 class="tds-headline-01">{{ userInfo.followers }}</h3>
        </tds-block>

        <tds-block mode-variant="primary" data-testid="following-block">
          <p class="tds-body-01">Following</p>
          <h3 class="tds-headline-01">{{ userInfo.following }}</h3>
        </tds-block>

        <div class="commit-chart">
          <app-chart
            chartId="barChart"
            chartType="bar"
            [chartData]="barChartData"
            [chartLabels]="barChartLabels"
            chartTitle="Commits Per Month"
            data-testid="bar-chart"
          ></app-chart>
        </div>

        <div class="pie-chart">
          <app-chart
            chartId="pieChart"
            chartType="pie"
            [chartData]="languageChartData"
            [chartLabels]="languageChartLabels"
            chartTitle="Programming Language Usage"
            data-testid="pie-chart"
          ></app-chart>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <p data-testid="loading-message">Loading user information...</p>
  </ng-template>
  <div class="refresh-timestamp">
    Last refreshed: {{ lastRefreshed | date: 'short' }}
  </div>
  <div *ngIf="repositories?.length" class="repositories-container" data-testid="repositories-container">
    <h3 class="tds-headline-03">Repositories</h3>
    <ul class="repository-list">
      <li *ngFor="let repo of repositories" (click)="selectRepository(repo)" class="repository-item" data-testid="repository-item">
        <div class="repo-name">{{ repo.name }}</div>
        <div class="repo-description">{{ repo.description || 'No description' }}</div>
        <span *ngIf="repo.isEmpty" class="repo-empty">(Empty repository)</span>
      </li>
    </ul>
  </div>
</div>
