<div class="demo-layout">
  <tds-header>
    <tds-header-hamburger
      class="demo-xs-hide"
      (click)="toggleMenu()"
      aria-label="Open application drawer"
      aria-haspopup="true"
      [attr.aria-expanded]="isMenuOpen"
    ></tds-header-hamburger>

    <tds-header-title>Omer K - Scania - Test</tds-header-title>



    <tds-header-dropdown slot="end" class="demo-hide demo-xs-show" no-dropdown-icon selected>
      <img
        slot="icon"
        [src]="userInfo?.avatar_url || 'https://www.svgrepo.com/show/384676/account-avatar-profile-user-6.svg'"
        alt="User menu"
      />
      <tds-header-dropdown-list size="lg">
        <ng-container *ngIf="isAuthenticated; else notLoggedIn">
          <tds-header-dropdown-list-user
            [header]="'Welcome, ' + userInfo?.name"
            [subheader]="'Your Dashboard'"
          ></tds-header-dropdown-list-user>
        
          
          <tds-header-dropdown-list-item (click)="logOut()">
            <a>Logout</a>
          </tds-header-dropdown-list-item>
        </ng-container>
        <ng-template #notLoggedIn>
          <tds-header-dropdown-list-item (click)="logIn()">
            <p style="padding: 10px;">Login via github token</p>
          </tds-header-dropdown-list-item>
        </ng-template>
      </tds-header-dropdown-list>
    </tds-header-dropdown>

    <tds-header-brand-symbol slot="end">
      <a aria-label="Scania - red gryphon on blue shield" href="https://scania.com"></a>
    </tds-header-brand-symbol>
  </tds-header>

  <tds-side-menu
    [open]="isMenuOpen"
    id="demo-side-menu"
    aria-label="Side menu"
  >
    <tds-side-menu-overlay slot="overlay" (click)="closeMenu()"></tds-side-menu-overlay>

    <tds-side-menu-close-button slot="close-button" (click)="closeMenu()"></tds-side-menu-close-button>

    <tds-side-menu-dropdown slot="end" selected default-open>
      <tds-side-menu-user
        slot="label"
        [heading]="userInfo?.name || 'Name Namesson'"
        [subheading]="userInfo?.company || 'Company name'"
        [imgSrc]="userInfo?.avatar_url || 'https://www.svgrepo.com/show/384676/account-avatar-profile-user-6.svg'"
        img-alt=""
      ></tds-side-menu-user>
      <tds-header-dropdown-list size="lg">
        <ng-container *ngIf="isAuthenticated; else notLoggedIn">
          <tds-header-dropdown-list-user
            [header]="'Welcome, ' + userInfo?.name"
            [subheader]="'Your Dashboard'"
          ></tds-header-dropdown-list-user>
         
          <tds-header-dropdown-list-item (click)="logOut()">
            <a>Logout</a>
          </tds-header-dropdown-list-item>
        </ng-container>
        <ng-template #notLoggedIn>
          <tds-header-dropdown-list-item (click)="logIn()">
            <p style="padding: 10px;">Login via github token</p>
          </tds-header-dropdown-list-item>
        </ng-template>
      </tds-header-dropdown-list>
    </tds-side-menu-dropdown>
  </tds-side-menu>
</div>
