<div class="demo-layout">
  <tds-header>
    <tds-header-hamburger
      class="demo-xs-hide"
      (click)="toggleMenu()"
      aria-label="Open application drawer"
      aria-haspopup="true"
      [attr.aria-expanded]="isMenuOpen"
    ></tds-header-hamburger>

    <tds-header-title>Omer K - Scania - Test</tds-header-title>

    <nav class="nav-links demo-hide demo-xs-show">
      <a
        *ngIf="isAuthenticated"
        (click)="navigateTo('dashboard')"
        routerLinkActive="selected"
        class="nav-link"
      >
        Dashboard
      </a>
      <a
        *ngIf="isAuthenticated"
        (click)="navigateTo('commit-list')"
        routerLinkActive="selected"
        class="nav-link"
      >
        Commits
      </a>
    </nav>

    <tds-header-dropdown slot="end" class="demo-hide demo-xs-show" no-dropdown-icon selected>
      <img
        slot="icon"
        [src]="userInfo?.avatar_url || 'https://www.svgrepo.com/show/384676/account-avatar-profile-user-6.svg'"
        alt="User menu"
      />
      <tds-header-dropdown-list size="lg" class="custom-dropdown-list">
        <ng-container *ngIf="isAuthenticated; else notLoggedIn">
          <tds-header-dropdown-list-user
            [header]="'Welcome, ' + userInfo?.name"
            [subheader]="'Your Dashboard'"
          ></tds-header-dropdown-list-user>

          <ul class="side-menu-links">
            
            <li style="cursor: pointer;" *ngIf="!isAuthenticated">
              <a (click)="logIn()">Log In</a>
            </li>
            <li style="cursor: pointer;" *ngIf="isAuthenticated">
              <a (click)="logOut()">Log Out</a>
            </li>
          </ul>
     
        </ng-container>
        <ng-template #notLoggedIn>
          <tds-header-dropdown-list-item class="custom-list-item" (click)="logIn()">
            <span style="padding-top: 10px;" > Please join via github token</span>
          </tds-header-dropdown-list-item>
        </ng-template>
      </tds-header-dropdown-list>
      
    </tds-header-dropdown>

    <tds-header-brand-symbol slot="end">
      <a aria-label="Scania - red gryphon on blue shield" href="https://scania.com"></a>
    </tds-header-brand-symbol>
  </tds-header>

  <tds-side-menu [open]="isMenuOpen" id="demo-side-menu" aria-label="Side menu">
    <tds-side-menu-overlay slot="overlay" (click)="closeMenu()"></tds-side-menu-overlay>
    <tds-side-menu-close-button slot="close-button" (click)="closeMenu()"></tds-side-menu-close-button>

    <ul class="side-menu-links">
      <li style="cursor: pointer;" *ngIf="isAuthenticated">
        <a (click)="navigateTo('dashboard')">Dashboard</a>
      </li>
      <li style="cursor: pointer;" *ngIf="isAuthenticated">
        <a (click)="navigateTo('commit-list')">Commits</a>
      </li>
      <li style="cursor: pointer;" *ngIf="!isAuthenticated">
        <a (click)="logIn()">Log In</a>
      </li>
      <li style="cursor: pointer;" *ngIf="isAuthenticated">
        <a (click)="logOut()">Log Out</a>
      </li>
    </ul>
  </tds-side-menu>
</div>
