<!-- <app-chart
  [chartId]="'languageUsageChart'"
  [chartType]="'pie'"
  [chartData]="chartData"
  [chartLabels]="chartLabels"
  [chartTitle]="'Programming Language Usage'"
  data-testid="pie-language-chart"
></app-chart> -->


<div class="language-chart-container">
  <app-chart
    [chartId]="'languageUsageChart'"
    [chartType]="'pie'"
    [chartData]="chartData"
    [chartLabels]="chartLabels"
    [chartTitle]="'Programming Language Usage'"
    [backgroundColors]="chartColors"
    data-testid="pie-language-chart"
  ></app-chart>
</div>
